{% extends 'SariAppBundle::Admin/layout.html.twig' %}

{% block title %} Inscription index{% endblock %}

{% block contentheader %}
    <h1>
        inscription
        <small>index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active"><i class="fa fa-building"></i> inscription</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Liste des <span class="badge bg-blue">{{ inscriptions.getTotalItemCount }}</span>
                        inscriptions
                    </h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('admin_inscription_new') }}" class="btn btn-box-tool" data-toggle="tooltip"
                           title="Ajouter inscription">
                            <i class="fa fa-plus"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(inscriptions, 'Id', 'e.id') }}</th>
                            <th>Etudiant</th>
                            <th>Formation</th>
                            <th>Numero INE</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% for inscription in inscriptions %}
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path('admin_inscription_show', { 'id': inscription.id }) }}">{{ inscription.id }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_personne_show', {'id' : inscription.etudiant.personne.id}) }}">{{ inscription.etudiant.personne.prenom }} {{ inscription.etudiant.personne.nom }}</a>
                                </td>
                                <td>{{ inscription.id }}</td>
                                <td>{{ inscription.etudiant.numIne }}</td>
                                <td>
                                    <a href="{{ path('admin_inscription_show', { 'id': inscription.id }) }}"
                                       class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left"
                                       title="Voir {{ inscription.etudiant.personne.nom }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_inscription_edit', { 'id': inscription.id }) }}"
                                       class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="left"
                                       title="Modifier {{ inscription.etudiant.personne.nom }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ knp_pagination_render(inscriptions) }}
                        </div>
                        <div class="col-lg-6">
                            <a href="{{ path('admin_inscription_new') }}" class="btn btn-primary pull-right"><i
                                        class="fa fa-plus-circle"></i> Ajouter une nouvelle inscription</a>
                        </div>
                    </div>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}