{% extends 'SariAppBundle::Admin/layout.html.twig' %}

{% block title %} enseignant index{% endblock %}

{% block contentheader %}
    <h1>
        enseignant
        <small>index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active"><i class="fa fa-building"></i> enseignant</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Liste des <span class="badge bg-blue">{{ enseignants.getTotalItemCount }}</span>
                        enseignants
                    </h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('admin_enseignant_new') }}" class="btn btn-box-tool" data-toggle="tooltip"
                           title="Ajouter enseignant">
                            <i class="fa fa-plus"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(enseignants, 'Id', 'e.id') }}</th>
                            <th>Personne</th>
                            <th>statut</th>
                            <th>nombre établissement inscrit</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% for enseignant in enseignants %}
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path('admin_enseignant_show', { 'id': enseignant.id }) }}">{{ enseignant.id }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_personne_show', {'id' : enseignant.personne.id}) }}">{{ enseignant.personne.prenom }} {{ enseignant.personne.nom }}</a>
                                </td>
                                <td>{{ enseignant.statut }}</td>
                                <td>{{ enseignant.etablissements|length }}</td>
                                <td>
                                    <a href="{{ path('admin_enseignant_show', { 'id': enseignant.id }) }}"
                                       class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left"
                                       title="Voir {{ enseignant.personne.nom }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_enseignant_edit', { 'id': enseignant.id }) }}"
                                       class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="left"
                                       title="Modifier {{ enseignant.personne.nom }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ knp_pagination_render(enseignants) }}
                        </div>
                        <div class="col-lg-6">
                            <a href="{{ path('admin_enseignant_new') }}" class="btn btn-primary pull-right"><i
                                        class="fa fa-plus-circle"></i> Ajouter une nouvelle enseignant</a>
                        </div>
                    </div>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}