{% extends 'SariAppBundle::Admin/layout.html.twig' %}

{% block title %} formation index{% endblock %}

{% block contentheader %}
    <h1>
        formation
        <small>index</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('admin_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active"><i class="fa fa-building"></i> formation</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Liste des <span class="badge bg-blue">{{ formations.getTotalItemCount }}</span>
                        formations
                    </h3>
                    <div class="box-tools pull-right">
                        <a href="{{ path('admin_formation_new') }}" class="btn btn-box-tool" data-toggle="tooltip"
                           title="Ajouter formation">
                            <i class="fa fa-plus"></i></a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(formations, 'Id', 'e.id') }}</th>
                            <th>libelle</th>
                            <th>libellé court</th>
                            <th>description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        {% for formation in formations %}
                            <tbody>
                            <tr>
                                <td>
                                    <a href="{{ path('admin_formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a>
                                </td>
                                <td>{{ formation.libelle }}</td>
                                <td>{{ formation.libelleCourt }}</td>
                                <td>{{ formation.description }}</td>
                                <td>
                                    <a href="{{ path('admin_formation_show', { 'id': formation.id }) }}"
                                       class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="left"
                                       title="Voir {{ formation.libelle }}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="{{ path('admin_formation_edit', { 'id': formation.id }) }}"
                                       class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="left"
                                       title="Modifier {{ formation.libelle }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            {{ knp_pagination_render(formations) }}
                        </div>
                        <div class="col-lg-6">
                            <a href="{{ path('admin_formation_new') }}" class="btn btn-primary pull-right"><i
                                        class="fa fa-plus-circle"></i> Ajouter une nouvelle formation</a>
                        </div>
                    </div>
                </div><!-- /.box-footer-->
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}